<article class="post">
    <div class="title">
        <a href={{#if editable}}"/dashboard/edit/{{id}}"{{else}}"/post/{{id}}"{{/if}}>{{title}}</a>
        <div>{{content}}</div>
    </div>
    <div class="meta">
        by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>